/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* Table & mobile */
@media (max-width: 991.98px) {
  /* ấn thanh navbar */
  .navbar {
    display: none;
  }
  .navbar__list{
    display: flex;
    flex-direction: column;
  }
  /* chuyển logo ra giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* căn lại ví trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* code menu drawer */
  .menu-drawer {
    position: fixed;
    background: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* kiểm tra checkbox */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 1rem;
  }
  .navbar__link:hover {
    background: #013d29;
  }
  /* khoi hero */
  .hero{
    flex-direction: column-reverse;
    gap: 50px;
  }
  .hero__content{
    width: 80%;
    text-align: center;
    margin: 22px;
  }
  .hero__row{
    justify-content: center;
  }
  /* khoi service */
  .service__row{
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img{
    width: 100%;
  }
  .service__list{
    text-align: center;

  }
  .service-item{
    width: 90%;
    text-align: start;
  }
  /* work list */
  .work__list{
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* about */
  .about-row{
    flex-direction: column;
    row-gap: 30px;
  }

  .about__media{
    width: 100%;
  }
  .about__img--big{
    width: 100%;
    border-radius: 15px;
    margin: 15px auto;
  }
  .about__img--small{
    display: none;
  }
  .about-content{
    width: 90%;
    text-align: center;
  }
  /* team list */
  .team-list{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-icon__thumb{
    margin: 0 auto;
  }
  /* install */
  .install__img{
    display: none;
  }
  .install__content{
    width: 90%;
    margin: 0 auto;
  }
}
/* Table*/
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Mobile */
@media (max-width: 767.98px) {
}
