/* PC */
@media(min-width: 992px){

}
/* Table & mobile */
@media(max-width: 991.98px){
    /* ấn thanh navbar */
    .navbar{
        display: none;
    }
    /* chuyển logo ra giữa */
    .header-top{
        position: relative;
    }
    .header__logo{
        position: absolute;
        left: 50%;
        transform: translate(-50% ,-50%);
    }
    /* căn lại ví trí của menu icon */
    .menu-header__icon{
        position: absolute;
        top: 38px;
        left: 26px;
        color: #fff;
        width: 24px;
    }
    /* overlay */
    .menu-overlay{
        position: fixed;
        background: rgba(0, 0, 0, 0.3);
        inset: 0;
        z-index: 1;
         /* bình thường ẩn overlay đi */
         opacity: 0;
         visibility: hidden;
        transition: 0.5s;
    }   
    .menu-checkbox:checked ~ .menu-overlay{
        opacity: 1;
        visibility: visible;
    }

}
/* Table*/
@media(min-width: 768px)and (max-width:991.98px){

}
/* Mobile */
@media(max-width: 767.98px){

}